<div class="add-salad" fxLayout="row">

    <div class="left-section" fxLayout="column" fxFlex="40%">

        <!-- Step Info -->
        <img src="../../../assets/images/salad-step-3.png" alt="">
        <h3 class="title">Add New Salad</h3>

        <!-- Input fields -->
        <form>
            <mat-form-field class="input-field">
                <input type="text" matInput placeholder="Name" [(ngModel)]="salad.name" name="name" required>
            </mat-form-field>

            <mat-form-field class="input-field">
                <input type="text" matInput placeholder="Tag" [(ngModel)]="salad.tag" name="tag" required>
            </mat-form-field>
        </form>

        <!-- Actions -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>Total number of calories: {{ salad.calories}}</span>

            <button
                    mat-raised-button
                    (click)="addSalad()"
                    type="submit"
                    class="md-button" [disabled]="invalidForm()">Add Salad
            </button>
        </div>
    </div>

    <div class="right-section" fxLayout="column" fxFlex="60%">

        <!-- Filters -->
        <div class="filters" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- Search -->
            <mat-form-field class="example-full-width">
                <input matInput type="search" [(ngModel)]="searchText" placeholder="Search by name" class="search-box">
            </mat-form-field>

            <!-- Filter by calories -->
            <div class="filter-field" fxLayout="row" fxLayoutAlign="flex-end center">
                <span>Sort By Calories </span>
                <button mat-mini-fab (click)="ascSort = !ascSort" class="md-icon">
                    <mat-icon aria-label="Example icon-button with a heart icon">import_export</mat-icon>
                </button>
            </div>

        </div>

        <!-- List of ingredients -->
        <mat-list role="list">
            <mat-list-item role="listitem" class="list-item"
                           *ngFor="let ingredient of salad.ingredients| searchData: {name: searchText} | sort: 'calories': ascSort" fxLayout="column"
                           fxLayoutAlign="space-between">

                <!-- Checkbox -->
                <mat-checkbox [(ngModel)]="ingredient.checked" (change)="addTolist(ingredient, $event)"></mat-checkbox>

                <!-- Image badge -->
                <img [src]="ingredient.imagePath ? ingredient.imagePath : '../../../assets/images/no_image.jpg'"
                     class="md-avatar" alt="img"/>

                <!-- Name and calories -->
                <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="30%">
                    <span class="primary-text">{{ ingredient.name }}</span>
                    <span class="secondary-text"> Tags:
                        <span *ngFor="let tag of ingredient.tags">{{ tag.name }}</span></span>
                </div>

                <!-- Calories -->
                <span class="calories"> {{ ingredient.calories }}</span>

            </mat-list-item>
        </mat-list>
    </div>
</div>