<div class="edit-ingredient" fxLayout="row">

    <!-- Return -->
    <button mat-mini-fab class="md-icon" routerLink="/ingredient/all">
        <mat-icon aria-label="icon-button">keyboard_backspace</mat-icon>
    </button>

    <!--Ingredient Image-->
    <div class="left-section" fxLayout="column" fxFlex="50%" fxLayoutAlign="center center">
        <img [src]="ingredient.imagePath" alt="Ingredient image">
    </div>

    <div class="right-section" fxLayout="column" fxFlex="50%" fxLayoutAlign="space-between">
        <h3 class="title">Edit Ingredient</h3>

        <!-- Edit form -->
        <form class="edit-ingredient-form">

            <!-- Name and calories -->
            <div class="first-row" fxLayout class="input-field">
                <mat-form-field class="name-field">
                    <input type="text" matInput placeholder="Name" [(ngModel)]="ingredient.name" name="name" required>
                </mat-form-field>

                <mat-form-field class="cal-field">
                    <input type="number" matInput placeholder="Calories" [(ngModel)]="ingredient.calories"
                           name="calories" required>
                </mat-form-field>
            </div>

            <!-- imagePath -->
            <mat-form-field class="input-field">
                <input type="url" matInput placeholder="Image URL" [(ngModel)]="ingredient.imagePath" name="imagePath">
            </mat-form-field>

            <!-- Tags -->
            <mat-form-field class="input-field">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of ingredient.tags" [selectable]="selectable"
                              [removable]="removable" (removed)="removeTag(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Add tags..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addTag($event)" required>
                </mat-chip-list>
            </mat-form-field>
        </form>

        <!-- Actions -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button
                    mat-raised-button
                    (click)="deleteIngredientData()"
                    type="submit"
                    class="md-button">Delete Ingredient
            </button>
            <button
                    mat-raised-button
                    (click)="changeIngredientData()"
                    type="submit"
                    class="md-button" [disabled]="invalidForm()">Update Ingredient
            </button>
        </div>
    </div>
</div>