$mind-primary-color: rgb(144, 213, 62);
$mind-secondary-text: rgba(0, 0, 0, 0.54);
$mind-primary-text: rgba(0, 0, 0, 0.87);

$mind-text: rgb(58, 68, 80);

$mind-grey: #888888;

$mind-black-12: rgba(0, 0, 0, 0.12);
$mind-black-3: rgba(0, 0, 0, 0.3);
