<mat-toolbar class="toolbar">
    <span class="logo">Mind Salad Bar</span>
</mat-toolbar>

<div class="main-content" fxLayout="row" fxLayoutAlign="center start">
    <div class="nav" fxLayout="row">
        <ul class="nav-items">
            <li  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-item" routerLink="/ingredient" >
                Add ingredient</a></li>
            <li  routerLinkActive="active"><a class="nav-item" routerLink="ingredient/all" >Ingredients</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a class="nav-item" routerLink="/salad" >Salad Maker</a></li>
            <li routerLinkActive="active"><a class="nav-item" routerLink="/salad/all" >Salads Preview</a></li>
        </ul>
    </div>
    <mat-card class="card">
        <router-outlet></router-outlet>
    </mat-card>
</div>