<mat-toolbar>
    <span class="logo">Mind Salad Bar</span>
    <span class="dev-info">Task - Holycode</span>
</mat-toolbar>

<div class="main-content" fxLayout="row">
    <div class="nav" fxLayout="row">
        <ul class="nav-items">
            <li><a class="nav-item" routerLink="/ingredient" routerLinkActive="active">
                Add ingredient</a></li>
            <li><a class="nav-item" routerLink="ingredient/all" routerLinkActive="active">Ingredients</a></li>
            <li><a class="nav-item" routerLink="/salad" routerLinkActive="active">Salad Maker</a></li>
            <li><a class="nav-item" routerLink="/salad/all" routerLinkActive="active">Salads Preview</a></li>
        </ul>
    </div>
    <mat-card class="card">
        <router-outlet></router-outlet>
    </mat-card>
</div>