@import '../../../stylesheets/variables';

:host {
  .salad-details {
    background: url('../../../assets/images/salads-view.png') no-repeat;
    text-align: center;
    min-height: 650px;

    .left-section {
      padding: 10px 40px;
    }
    .right-section {
      padding: 20px;
    }
  }
  .input-field {
    width: 100%;
  }

  .list-item {
    width: 100%;
    height: 100px;
  }
  .calories {
    margin-left: auto;
  }
}