@import '../../../stylesheets/variables';

:host {
  .salads {
    background-image: url('../../../assets/images/salad-list.png');
    height: 600px;

    .salad-card {
      width: 250px;
      height: 200px;
      margin: 10px;
    }
    .badge {
      color: $mind-primary-color
    }
    .mat-card-header {
      width: 100%;
      color: $mind-text
    }
    .sort {
      margin-left: 20px;
    }
    .delete {
      cursor: pointer;
    }
    .card-actions {
      color: $mind-text;
    }
    .card-content {
      text-align: center;
      color: $mind-grey;
    }
  }
}