@import '../../../stylesheets/variables';

:host {
  .salads {
    background: url('../../../assets/images/salads-view.png') no-repeat;
    min-height: 650px;

    .title {
      font-size: 50px;
      color: $mind-text;
      padding-left: 20px;
    }

    .salad-icon{
      width: 50px;
      opacity: 0.2;
    }
    .badge{
      margin-left: auto;
    }
    .salad-card {
      width: 235px;
      height: 240px;
      margin: 10px;
    }
    .badge {
      color: $mind-primary-color
    }
    .mat-card-header {
      width: 100%;
      color: $mind-text
    }
    .sort {
      margin-left: 20px;
    }
    .delete {
      cursor: pointer;
      opacity: 0.4;
    }
    .card-actions {
      color: $mind-text;
    }
    .card-content {
      text-align: center;
      color: $mind-grey;
    }
  }
}