<!-- Sort options -->
<mat-form-field>
    <mat-label>Sort By:</mat-label>
    <mat-select>
        <mat-option value="calories" (click)="sortBy('calories')">Calories</mat-option>
        <mat-option value="name" (click)="sortBy('name')">Name</mat-option>
    </mat-select>
</mat-form-field>

<!-- Salads List -->

<div class="salad-list" fxLayout="row wrap" fxLayoutAlign="space-between center">
    <mat-card class="salad-card" *ngFor="let salad of salads| sort: sortOption">
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <h3>{{ salad.name }}</h3>
            <span>{{salad.calories}}</span>
        </mat-card-header>
        <mat-card-content>
                <ul *ngFor="let ingredient of salad.ingredients" [routerLink]="['/ingredient', ingredient.id]">
                    <li> {{ ingredient.name }}</li>
                </ul>
        </mat-card-content>
    </mat-card>
</div>