<div class="salads">

    <div class="step-info" fxLayout="row" fxLayoutAlign="space-between center">
        <h3 class="title">Salads Preview</h3>

        <!-- Sort options -->
        <mat-form-field class="sort">
            <mat-label>Sort By:</mat-label>
            <mat-select>
                <mat-option value="calories" (click)="sortBy('calories')">Calories</mat-option>
                <mat-option value="name" (click)="sortBy('name')">Name</mat-option>
            </mat-select>
        </mat-form-field>
    </div>



    <!-- Salads List -->

    <div class="salad-list" fxLayout="row wrap" fxLayoutAlign="flex-start center">
        <mat-card class="salad-card" *ngFor="let salad of salads | sort: sortOption: ascSort; index as i"
                  fxLayout="column" fxLayoutAlign="space-between">

            <mat-card-header fxLayout="column">
                <span class="badge">{{salad.calories}}</span>
                <div class="info" fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../assets/images/salad.jpg" alt="" class="salad-icon">
                    <h3>{{ salad.name| truncate:20 }}</h3>
                </div>

            </mat-card-header>
            <mat-card-content class="card-content">
                <span>Number of ingredients: {{salad.ingredients.length}}</span>
            </mat-card-content>
            <mat-card-actions xLayout="row" fxLayoutAlign="space-between center" class="card-actions">
                <mat-icon class="delete" (click)="removeSalad(salad.id, i)">delete_outline</mat-icon>
                <button mat-button class="md-button" [routerLink]="['/salad', salad.id]">Details</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>