<div class="ingredients-list" fxLayout>

    <div class="left-section">

        <div class="filters" fxLayout="row" fxLayoutAlign="center center">

            <!-- Filter by tag  -->
            <div class="tag" fxLayout="row" fxLayoutAlign="center center">
                <span class="filter-text">Selected tag: </span>
                <mat-chip-list>
                    <mat-chip *ngIf="selectedTag">{{ selectedTag }}
                        <mat-icon matChipRemove (click)="removeTag()">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>

            <!-- Filter by calories -->
            <div class="filter-field" fxLayout="row" fxLayoutAlign="flex-end center">
                <span>Sort By Calories </span>
                <button mat-mini-fab (click)="ascSort = !ascSort" class="sort-icon">
                    <mat-icon aria-label="icon-button">import_export</mat-icon>
                </button>
            </div>

        </div>


        <!-- List of ingredients -->
        <mat-list role="list">
            <mat-list-item role="listitem" class="list-item"
                           *ngFor="let ingredient of ingredients| sort: 'calories': ascSort" fxLayout="column"
                           fxLayoutAlign="space-between">

                <!-- Checkbox -->
                <mat-checkbox [(ngModel)]="ingredient.checked" (change)="addTolist(ingredient, $event)"></mat-checkbox>

                <!-- Image badge -->
                <img [src]="ingredient.imagePath ? ingredient.imagePath : '../../../assets/images/no_image.jpg'"
                     class="md-avatar" alt="img"/>

                <!-- Name and calories -->
                <div fxLayout="column" fxLayoutAlign="space-between start" fxFlex="30%">
                    <span class="primary-text">{{ ingredient.name }}</span>
                    <span class="secondary-text">Number of Calories({{ ingredient.calories }})</span>
                </div>

                <!-- Tags -->
                <span class="tags" *ngFor="let tag of ingredient.tags"
                      (click)="filterTag(tag.name)"> {{ tag.name }} </span>

                <!-- Edit icon -->
                <mat-icon [routerLink]="['/ingredient', ingredient.id]" class="edit-icon">edit</mat-icon>

            </mat-list-item>
        </mat-list>

        <!--Actions-->
        <button mat-button (click)="makeSalad()" class="add-button" [disabled]="invalidForm()">Make Salad</button>

    </div>

    <!-- Step Info -->
    <div class="right-section">
        <img src="../../../assets/images/spep-2.png" alt="">
        <h3 class="title">Choose Ingredients</h3>
    </div>
</div>
