@import '../../../stylesheets/variables';

:host {
  .ingredients-list {
    background-image: url('../../../assets/images/ingredients-list.png');
    text-align: center;
    min-height: 650px;

    .left-section {
      width: 65%;

      .list-item {
        width: 100%;
        height: 100px;

        .tags {
          cursor: pointer;
          margin: 2px 5px;
          border-bottom: 2px dotted grey;
        }
        .edit-icon {
          margin-left: auto;
          cursor: pointer;
        }
      }
    }
    .filters {
      padding-left:30px;
      .title {
        font-size: 22px;
      }
      .filter-field {
        margin-left: auto;
      }
      .filter-text {
        margin-right: 15px;
      }
    }
  }
}