<div class="add-ingredient">

    <div class="main-section" fxLayout="column" fxLayoutAlign="space-around" fxFlex="59%">

        <!-- Step Info -->
        <img src="../../../assets/images/step-1.png" alt="step 1" class="step-img">
        <h3 class="title">Add New Ingredient</h3>

        <form class="add-ingredient-form" #form="ngForm">


            <!-- Name and calories -->
            <div fxLayout class="input-field">
                <mat-form-field class="name-field">
                    <input type="text" matInput placeholder="Name" [(ngModel)]="ingredient.name" name="name" required>
                </mat-form-field>

                <mat-form-field class="cal-field">
                    <input type="number" matInput placeholder="Calories" [(ngModel)]="ingredient.calories"
                           name="calories" required>
                </mat-form-field>
            </div>

            <!-- Image path -->
            <mat-form-field class="input-field">
                <input type="url" matInput placeholder="Image URL" [(ngModel)]="ingredient.imagePath" name="imagePath">
            </mat-form-field>


            <!-- Tags-->
            <mat-form-field class="input-field">
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of ingredient.tags" [selectable]="selectable" [removable]="removable"
                              (removed)="removeTag(tag)">
                        {{tag.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Add tags..."
                           [matChipInputFor]="chipList"
                           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                           [matChipInputAddOnBlur]="addOnBlur"
                           (matChipInputTokenEnd)="addTag($event)" required>
                </mat-chip-list>
            </mat-form-field>
        </form>

        <!-- Actions -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <a class="ingredients-info" routerLink="/ingredient/all">All Ingredients ({{ allIngredient }})</a>
            <button
                    mat-raised-button
                    (click)="addIngredient(form)"
                    [disabled]="invalidForm()"
                    type="submit"
                    class="add-button" [disabled]="invalidForm()">Add Ingredient
            </button>
        </div>
    </div>
</div>