@import '../../../stylesheets/variables';

:host{
  .add-ingredient {
    background-image: url('../../../assets/images/salad.png');
  }
  .step-img{
    width: 70%;
  }
  .ingredients-info {
    color: $mind-primary-color;
  }
  .main-section{
    padding: 40px;

    .name-field{
      width: 60%;
    }
    .cal-field{
      width: 30%;
      margin-left: auto;
    }
    .input-field{
      width: 100%;
    }
  }
}
